fpdf
pandas
streamlit
pytz
qrcode
certifi
firebase_admin
folium
geopy
googletrans
ipython
Kivy
openpyxl
protobuf
PyPDF2
Requests
st_circular_progress
tkcalendar
xmltodict
google-generativeai
streamlit-option-menu
geopy
